<html>
  <body>
    <p>Bonjour,</p>
    <p>Votre test de déclaration <b><%= name %></b> déposé le <%= date %> à <%= time %> a bien <b>fonctionné</b>.</p>
    <p>
      Vous pouvez consulter vos produits déclarés en vous connectant à votre espace :
      <a href="<%= link %>"><%= link %></a>
    </p>
    <p></p>
    <p>Bonne journée,</p>
    <p>L'équipe du portail de l'Affichage environnemental</p>
  </body>
</html>
