<html>
  <body>
    <p>Bonjour,</p>
    <p>
      Votr déclaration affichage environnementale <b><%= name %></b> déposé le <%= date %> à <%= time %> a bien été
      <b>validée</b>.
    </p>
    <p>
      Vous pouvez consulter vos produits déclarés en vous connectant à votre espace :
      <a href="<%= link %>"><%= link %></a>
    </p>
    <p></p>
    <p>Bonne journée,</p>
    <p>L'équipe du portail de déclaration de l'affichage environnementale</p>
  </body>
</html>
